@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (User.Identity.IsAuthenticated)
        {
            <span>@User.Identity.Name</span>          
        }
    </h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <a href="/car">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Cars List</div>
                <div class="card-body">
                    <h5 class="card-title">CRUD Cars List</h5>
                </div>
            </div>
         </a>
    </div>
    <div class="col-sm-4">
        <a href="/trip">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Trips List</div>
                <div class="card-body">
                    <h5 class="card-title">CRUD Trips List</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/artist">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Artists List</div>
                <div class="card-body">
                    <h5 class="card-title">CRUD Artists List</h5>
                </div>
            </div>
        </a>
    </div>
</div>