@using InterviewLists.Application.Models.MakeCar;
@{
    ViewData["Title"] = "Index";
    var makes = ViewData["CarMakes"] as IEnumerable<CarMakeDto>;
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Cars</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Car</span></a>
                </div>
            </div>
        </div>
        <div id="table-result">

        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add Car</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Price</label>
                        <input id="CarPrice" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input id="CarDate" type="text" class="form-control date">
                    </div>
                    <div class="form-group">
                        <label>Make</label>
                        <select id="CarMake" class="form-control">
                            <option value=""></option>

                            @foreach (var item in makes)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <select id="CarModel" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select id="CarCountry" class="form-control">
                            <option value="Poland">Poland</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="button" id="btn-add-car" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>



<div id="editCarModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Car</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Price</label>
                        <input id="EditCarPrice" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input id="EditCarDate" type="text" class="form-control date">
                    </div>
                    <div class="form-group">
                        <label>Make</label>
                        <select id="EditCarMake" class="form-control">
                            <option value=""></option>

                            @foreach (var item in makes)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <select id="EditCarModel" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select id="EditCarCountry" class="form-control">
                            <option value="Poland">Poland</option>
                        </select>
                    </div>
                    <input id="EditCarId" type="hidden" class="form-control">

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="btn-update-car" type="button" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var saveModel = '';
    function LoadData() {
        $.ajax({
            type: 'GET',
            url: '/Car/GetAllTable',
            success: function (result) {
                $('#table-result').html(result);
                $(".delete-car").click(function () {
                    DeleteCar($(this).attr('data-id'));
                });
                $(".edit-car").click(function () {
                    LoadCar($(this).attr('data-id'));
                });
            }
        });
    }

    function LoadCarModels(id) {
        $("#CarModel").html('');
        $.ajax({
            type: 'GET',
            url: '/Car/GetCarModels/' + id,
            success: function (response) {
                response.forEach(function (entry) {
                    $("#CarModel").append(new Option(entry.title, entry.id));
                });

            }
        });
    }

    function LoadEditCarModels(id) {
        $("#EditCarModel").html('');
        $.ajax({
            type: 'GET',
            url: '/Car/GetCarModels/' + id,
            success: function (response) {
                response.forEach(function (entry) {
                    $("#EditCarModel").append(new Option(entry.title, entry.id));
                });
                if (saveModel != '') {
                    $("#EditCarModel").val(saveModel);
                    saveModel = '';
                }
            }
        });
    }

    function LoadCar(id) {
        $.ajax({
            type: 'GET',
            url: '/Car/GetCarById/' + id,
            success: function (response) {
                $("#EditCarId").val(response.id);
                $("#EditCarMake").val(response.carMakeId);
                saveModel = response.carModelId
                $("#EditCarMake").change();
                $("#EditCarPrice").val(response.price);
                $("#EditCarDate").val(response.dateOfProduction);
                $('#EditCarDate').datepicker("setDate", new Date(response.dateOfProduction));
                $("#EditCarCountry").val(response.country);
                $("#editCarModal").modal('show')
            }
        });
    }

    function SaveCar() {
        var data = {
            CarMakeId: $("#CarMake").val(),
            CarModelId: $("#CarModel").val(),
            Price: $("#CarPrice").val(),
            DateOfProduction: $("#CarDate").val(),
            Country: $("#CarCountry").val()
        }
        $.ajax({
            type: 'POST',
            url: '/Car/Create',
            data: data,
            success: function (result) {
                $("#addEmployeeModal").modal('hide');
                $("#CarMake").val('');
                $("#CarModel").val('');
                $("#CarPrice").val('');
                $("#CarDate").val('');
                $("#CarCountry").val('');
                LoadData();
            }
        });
    }

    function UpdateCar() {
        var data = {
            CarMakeId: $("#EditCarMake").val(),
            CarModelId: $("#EditCarModel").val(),
            Price: $("#EditCarPrice").val(),
            DateOfProduction: $("#EditCarDate").val(),
            Country: $("#EditCarCountry").val(),
            Id: $("#EditCarId").val()
        }
        $.ajax({
            type: 'PUT',
            url: '/Car/Update',
            data: data,
            success: function (result) {
                $("#editCarModal").modal('hide')
                $("#EditCarMake").val('');
                $("#EditCarModel").val('');
                $("#EditCarPrice").val('');
                $("#EditCarDate").val('');
                $("#EditCarCountry").val('');
                $("#EditCarId").val('');
                LoadData();
            }
        });
    }


    function DeleteCar(id) {
        $.ajax({
            type: 'DELETE',
            url: '/Car/Delete/' + id,
            success: function (result) {
                LoadData();
            }
        });
    }

    $(document).ready(function () {
        LoadData();
        $("#CarMake").change(function () {
            LoadCarModels($(this).val());
        });
        $("#EditCarMake").change(function () {
            LoadEditCarModels($(this).val());
        });
        $("#btn-add-car").click(function () {
            SaveCar();
        });
        $("#btn-update-car").click(function () {
            UpdateCar();
        });
    });
</script>