@using InterviewLists.Application.Models.WebServices;

@{
    ViewData["Title"] = "Index";
    var countries = ViewData["Countries"] as IEnumerable<CountriesModel>;

}
<script src="~/js/artist.js"></script>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Artists</b></h2>
                </div>
                <div class="col-sm-6">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Artist</span></a>
                    }
                </div>
            </div>
        </div>
        <div id="table-result">

        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-artist-form">
                <div class="modal-header">
                    <h4 class="modal-title">Add Artist</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="ArtistFirstName" name="ArtistFirstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="ArtistLastName" name="ArtistLastName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input id="ArtistBirthday" name="ArtistBirthday" type="text" class="form-control date" required>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select id="ArtistCountry" name="ArtistCountry" class="form-control" required>
                            <option value=""></option>
                            @foreach (var item in countries)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="button" id="btn-add-artist" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>



<div id="editArtistModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="edit-artist-form"> 
                <div class="modal-header">
                    <h4 class="modal-title">Edit Artist</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="EditArtistFirstName" name="EditArtistFirstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="EditArtistLastName" name="EditArtistLastName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input id="EditArtistBirthday" name="EditArtistBirthday" type="text" class="form-control date" required>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select id="EditArtistCountry" name="EditArtistCountry" class="form-control" required>
                            <option value=""></option>
                            @foreach (var item in countries)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                    <input id="EditArtistId" type="hidden" class="form-control">

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="btn-update-artist" type="button" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
